.hg
.*.cmd
.*.d
.*.d2
.*.tmp
*.orig
*~
*.swp
*.o
*.cppcheck.txt
*.cppcheck.xml
*.opic
*.a
*.c.json
*.safparse
*.so
*.so.[0-9]*
*.bin
*.bak
*.new
*.tmp
*.spot
*.spit
*.gcno
*.gcda
*.py[ocd]
*.dtb
TAGS
GTAGS
GRTAGS
GPATH
GSYMS
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
.config
.vimrc

autom4te.cache/
automation/build/yocto/*.dockerfile
build-*/
config.log
config.status
config.cache
config/Toplevel.mk
config/Paths.mk

/**/*.i
/**/*.s
/.banner
/.config
/.config.old
/.xen.elf32
/System.map
/arch/x86/efi.lds
/arch/x86/efi/check.efi
/arch/x86/efi/mkreloc
/arch/x86/include/asm/asm-macros.h
/arch/*/xen.lds
/arch/*/efi/boot.c
/arch/*/efi/common-stub.c
/arch/*/efi/compat.c
/arch/*/efi/ebmalloc.c
/arch/*/efi/efi.h
/arch/*/efi/pe.c
/arch/*/efi/runtime.c
/arch/*/include/asm/asm-offsets.h
/arch/*/include/generated
/build-dir-cppcheck/
/common/config_data.S
/common/config.gz
/cppcheck-htmlreport/
/cppcheck-report/
/cppcheck-misra.*
/include/headers*.chk
/include/compat/*
/include/config/
/include/generated/
/include/public/public
/include/xen/acm_policy.h
/include/xen/compile.h
/include/xen/hypercall-defs.h
/include/xen/lib/x86/cpuid-autogen.h
/test/livepatch/config.h
/test/livepatch/expect_config.h
/test/livepatch/*.livepatch
/tools/fixdep
/tools/kconfig/.tmp_gtkcheck
/tools/kconfig/.tmp_qtcheck
/tools/symbols
/xsm/flask/flask-policy.S
/xsm/flask/include/av_perm_to_string.h
/xsm/flask/include/av_permissions.h
/xsm/flask/include/class_to_string.h
/xsm/flask/include/flask.h
/xsm/flask/include/initial_sid_to_string.h
/xsm/flask/policy.*
/xsm/flask/xenpolicy-*

/xen
/suppression-list.txt
/xen-syms
/xen-syms.map
/xen.*
