#
# CRUX HYPERVISOR
#

*.o
*.cmd
*.efi

/crux
/crux-syms
/crux-syms.map

tags

/.allconfig.tmp
/.asm-offsets.s.d
/.config

/arch/arm/crux.lds
/arch/arm/dts/crux.dtb
/arch/arm/efi/boot.c
/arch/arm/efi/ebmalloc.c
/arch/arm/efi/pe.c
/arch/arm/efi/runtime.c
/arch/arm/include/asm/asm-offsets.h
/arch/arm/include/generated/
/asm-offsets.s
/common/config.gz
/common/config_data.S
/include/config/
/include/crux/compile.h
/include/crux/hypercall-defs.h
/include/generated/
/include/hypercall-defs.i
/lib/lib.a
/tools/fixdep
/tools/symbols
/xsm/flask/include/av_perm_to_string.h
/xsm/flask/include/av_permissions.h
/xsm/flask/include/class_to_string.h
/xsm/flask/include/flask.h
/xsm/flask/include/initial_sid_to_string.h
