config EFI_GBL_IMAGE_LOADING
	bool "Include GBL Image Loading protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL Image Loading protocol.
	  This protocol is used to provide buffers to load different images
	  for verification and boot process.  In addition this protocol
	  provides a list of partitions to be verified before booting.

config EFI_GBL_AB_PROTOCOL
	bool "Include GBL AB boot protocol"
	depends on EFI_LOADER
	select CRC32
	help
	  Include the driver for the custom GBL AB boot slot protocol.
	  This protocol is used for determining the current boot slot,
	  marking boot attempts, changing the currently active slot,
	  and querying metadata about boot slots.

config EFI_GBL_FASTBOOT_PROTOCOL
	bool "Include GBL Fastboot customization protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL Fastboot customization protocol.
	  This protocol is used for defining custom fastboot variables,
	  custom oem commands, and driving a device-local bootloader session.

config EFI_GBL_OS_CONFIGURATION_PROTOCOL
	bool "Include GBL Os Configuration protocol"
	depends on EFI_LOADER
	help
	  Include the driver for the custom GBL os configuration protocol.
	  This protocol is used to select base device trees and overlays
	  and apply runtime fix-ups to kernel commandline and bootconfig.
