#######################################################
#                      _____     __  __
#             /\/\/\/\/ __  \/\ / _\/__\
#             \ - \ \ \ \/ // // _\/  \
#              \/\/\_/\_/\/ \__\__\\/\/ @2025
#
#                  - Hustle Embedded -
#######################################################

CONFIG_ARM=y
CONFIG_TEXT_BASE=0x40080000
CONFIG_POSITION_INDEPENDENT=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_LOAD_ADDR=0x40000000
CONFIG_SYS_BOOTM_LEN=0x800000
CONFIG_BOOTDELAY=10
#
CONFIG_SYS_MALLOC_LEN=0x2000000
CONFIG_SYS_MALLOC_F_LEN=0x400
# Console output buffer size
CONFIG_SYS_PBSIZE=1051

# PCI
CONFIG_DM_PCI_COMPAT=y
CONFIG_PCI_REGION_MULTI_ENTRY=y
CONFIG_PCIE_ECAM_GENERIC=y
CONFIG_PCI_INIT_R=y
CONFIG_SYS_PCI_64BIT=y
CONFIG_PCI=y

CONFIG_LOG=y
CONFIG_LOGLEVEL=9

# Todo
CONFIG_TARGET_XENGUEST_ARM64_DOM0LESS=y
CONFIG_DEFAULT_DEVICE_TREE="xenguest-arm64"
CONFIG_IDENT_STRING=" xenguest"

# Commands
CONFIG_CMD_GPT=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_CMD_PCI=y
CONFIG_CMD_DHRYSTONE=y

# Virtios
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_BLK=y

# Debug Uart
CONFIG_PL011_SERIAL=y
CONFIG_CONS_INDEX=0
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x22000000
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_DEBUG_UART_PL011=y
CONFIG_DEBUG_UART_SHIFT=2

#
CONFIG_CMD_MTDPARTS=y
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_FLASH_SHOW_PROGRESS=0
CONFIG_CFI_FLASH=y
CONFIG_CFI_FLASH_USE_WEAK_ACCESSORS=y
CONFIG_SYS_FLASH_USE_BUFFER_WRITE=y
CONFIG_FLASH_CFI_MTD=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_SYS_MAX_FLASH_SECT=256
CONFIG_SYS_MAX_FLASH_BANKS=2
CONFIG_SYS_MAX_FLASH_BANKS_DETECT=y
#
CONFIG_SYSRESET=y
CONFIG_SYSRESET_CMD_POWEROFF=y
CONFIG_SYSRESET_PSCI=y
#
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_BEST_MATCH=y
