#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the ROUX tools repository.
#

config WIRELESS
	bool "Wireless Support"
	default n
	---help---
		Enables overall support for Wireless library.

if WIRELESS

source "system/wireless/bluetooth/Kconfig"
source "system/wireless/ieee802154/Kconfig"
source "system/wireless/pktradio/Kconfig"

endif # WIRELESS
