/******************************************************
 *                     _____     __  __
 *            /\/\/\/\/ __  \/\ / _\/__\
 *            \ - \ \ \ \/ // // _\/  \
 *             \/\/\_/\_/\/ \__\__\\/\/ @2025
 *
 *                  - Hustle Embedded -
 *****************************************************/

/dts-v1/;

/ {
	/* Todo */
};
