#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the ROUX tools repository.
#

if ARCH_CHIP_CRUX

menu "CRUX Virt Chip Selection"

choice
	prompt "CRUX Core Configuration"
	default ARCH_CHIP_CRUX_A53

config ARCH_CHIP_CRUX_A53
	bool "CRUX virtual Processor (cortex-a53)"
	select ARCH_HAVE_MULTICPU
	select ARMV8A_HAVE_GICv3
	select ARM64_HAVE_PSCI
	select ARCH_CORTEX_A53

config ARCH_CHIP_CRUX_A55
	bool "CRUX virtual Processor (cortex-a57)"
	select ARCH_HAVE_MULTICPU
	select ARMV8A_HAVE_GICv3
	select ARM64_HAVE_PSCI
	select ARCH_CORTEX_A55

config ARCH_CHIP_CRUX_UNKNOWN
	bool "CRUX virtual Processor (unknown CPU)"
	select ARCH_HAVE_MULTICPU
	select ARMV8A_HAVE_GICv3
	select ARM64_HAVE_PSCI
	select ARCH_CPU_UNKNOWN

endchoice # CRUX Chip Selection

config ARCH_CHIP_CRUX_WITH_HV
	bool "CRUX with hypervisor"
	default n

endmenu # "CRUX Chip Selection"

endif # ARCH_CHIP_CRUX
